<!doctype html>
<html class='no-js' lang='en-us'>

<head>
  <meta charset='utf-8' />
  <meta http-equiv='x-ua-compatible' content='ie=edge' />
  <title color='black'>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta
    http-equiv="Content-Security-Policy' content='default-src 'self' 'unsafe-inline' http://localhost:*; connect-src http://localhost:* https://dc.services.visualstudio.com/v2/track; img-src 'self'; child-src 'none'; script-src 'self' 'unsafe-inline' localhost; style-src 'self' 'unsafe-inline' http://localhost:* https://fonts.googleapis.com https://fonts.gstatic.com; font-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://fonts.gstatic.com;"">
  <meta name='description' content='WebApp' />
  <meta name='viewport' content='width=device-width, height=device-height, initial-scale=1' />
  <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' />

  <link type='text/css' rel='dx-common' href='./css/devexpress/21.2/dx.common.css'>
  <link type='text/css' rel='dx-theme' data-theme='generic.light' href='./css/devexpress/21.2/dx.light.css' data-active='false'> 
  <link type='text/css' rel='dx-theme' data-theme='generic.dark' href='./css/devexpress/21.2/dx.dark.css' data-active='false'>
  <link type='text/css' rel='dx-theme' data-theme='generic.contrast' href='./css/devexpress/21.2/dx.contrast.css' data-active='false'>
  
  <!-- <link rel='manifest' href='site.webmanifest'> -->
  <!-- <link rel='apple-touch-icon' href='./img/shortcut-logo.png' /> -->
  <!-- <link rel='apple-touch-icon-precomposed' href='./img/shortcut-logo.png' /> -->
  <!-- <link rel='shortcut icon' href='./img/shortcut-logo.png' type='image/x-icon' /> -->
</head>

<body>
  <div id='react-root'>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
  </div>
</body>

</html>